@font-face {
    font-family: 'Vazir Regular';
    src: url('../fonts/Vazirmatn-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Vazir Medium';
    src: url('../fonts/Vazirmatn-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Vazir Bold';
    src: url('../fonts/Vazirmatn-Bold.ttf') format('truetype');
}