@media(max-width:1400px) {}

@media(max-width:1200px) {
    .products-wrapper {
        grid-template-columns: repeat(4, 19rem);
    }
}

@media(max-width:992px) {
    .header-list__link {
        font-size: 1.5rem;
    }

    .guarantee-wrapper {
        gap: 2rem;
    }

    .guarantee-box__caption {
        font-size: 1.1rem;
    }

    .products-wrapper {
        grid-template-columns: repeat(3, 19rem);
    }
}

@media(max-width:768px) {
    .header-user {
        display: none;
    }

    .header-list-icon {
        display: none;
    }

    .header-list {
        display: flex;
        gap: 4rem;
        flex-direction: column;
        background-color: #ededed;
        padding: 6rem 2rem 2rem 2rem;
        position: fixed;
        right: -25rem;
        top: 0;
        bottom: 0;
        width: 25rem;
        height: 100%;
        justify-content: flex-start;
        margin-top: 0;
        transition: 0.2s;
        color: #fff;
        z-index: 101;
    }

    .header-list--show {
        right: 0;

    }

    .header-toggle {
        display: flex;
    }

    .header-list__link {
        font-family: "Vazir Medium";
    }

    .home-slider__img.desktop {
        display: none;
    }

    .home-slider__img.mobile {
        display: block;

    }

    .products-wrapper {
        grid-template-columns: repeat(2, 19rem);
    }

}

@media(max-width:576px) {
    .products-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:467px) {
    .products-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .products-box {
        width: auto;
        height: auto;
    }

    .products-box::after {
        top: 3rem;
        width: 13rem;
    }
}

@media (max-width:427px) {
    .guarantee-box__caption {
        font-size: 1rem;
    }

    .guarantee-box__img {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width:768px) {}