@media(max-width:1400px) {}

@media(max-width:1200px) {}

@media(max-width:992px) {
    .header-list__link {
        font-size: 1.5rem;
    }
}

@media(max-width:768px) {
    .header-user {
        display: none;
    }

    .header-list-icon {
        display: none;
    }

    .header-list {
        display: flex;
        gap: 4rem;
        flex-direction: column;
        background-color: #ededed;
        padding: 6rem 2rem 2rem 2rem;
        position: fixed;
        right: -25rem;
        top: 0;
        bottom: 0;
        width: 25rem;
        height: 100%;
        justify-content: flex-start;
        margin-top: 0;
        transition: 0.2s;
        color: #fff;
        z-index: 101;
    }

    .header-list--show {
        right: 0;

    }

    .header-toggle {
        display: flex;
    }

    .header-list__link {
        font-family: "Vazir Medium";
    }

    .home-slider__img.desktop {
        display: none;
    }

    .home-slider__img.mobile {
        display: block;

    }

}

@media(max-width:576px) {}

@media (max-width:427px) {}

@media (min-width:768px) {}