/* 
===============
  Base Style
===============
*/

html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Vazir Regular";
}

/* 
==================
  Helper Classes
==================
*/

.hidden {
    display: none;
}

/* 
===============
     Header
===============
*/

.header {
    padding: 1.5rem 0;
}

.header-logo {
    font-size: 4rem;
    font-family: "Vazir Medium";
    color: orange;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user {
    display: flex;
    gap: 2rem;
    position: relative;
}

.header-user__icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}


.header-user::before {
    content: "0";
    font-size: 1.3rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: orange;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    left: 1.7rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;

}

/* 
==================
   Mobile Menu
==================
*/

.header-toggle {
    width: 5rem;
    height: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    cursor: pointer;
    display: none;
    z-index: 101;
}

.header-toggle__line {
    display: flex;
    width: 3.5rem;
    height: 0.3rem;
    background-color: rgb(81, 81, 81);
    border-radius: 1rem;
    transition: 0.2s;
}

.header-toggle__line::before {
    content: "";
    width: 3.5rem;
    height: 0.3rem;
    background-color: rgb(81, 81, 81);
    position: absolute;
    top: 1.4rem;
    border-radius: 1rem;
    transition: 0.2s;

}

.header-toggle__line::after {
    content: "";
    width: 3.5rem;
    height: 0.3rem;
    background-color: rgb(81, 81, 81);
    position: absolute;
    bottom: 1.4rem;
    border-radius: 1rem;
    transition: 0.2s;

}

.header-toggle--show .header-toggle__line {
    background: transparent;
    transition: 0.1s;
}

.header-toggle--show .header-toggle__line::before {
    transform: translateY(0.9rem) rotate(45deg);
}

.header-toggle--show .header-toggle__line::after {
    transform: translateY(-0.9rem) rotate(-45deg);
}

/* 
==================
    Navigation
==================
*/

.nav {}

.header-list {
    display: flex;
    gap: 8rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.header-list-item {
    position: relative;
    transition: 0.2;
}

.header-list-icon {
    margin-left: 1.5rem;
}


.header-list__link {
    text-decoration: none;
    color: #000000;
    font-size: 1.7rem;
    transition: 0.2s;

}

.header-list__link:hover {
    color: orange;
}

/* 
==================
   Main Section
==================
*/

.main {}

/* 
==================
      Home
==================
*/

.home {
    margin: 0 8rem;
}

.home-slider {}

.home-slider__img {
    width: 100%;
    margin-top: 4rem;
    border-radius: 2rem;
}

.home-slider__img.mobile {
    display: none;
}

/* 
=====================
  Guarantee Section
=====================
*/

.guarantee {
    margin: 0 1rem 5rem 1rem;
}

.guarantee-wrapper {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.guarantee-box {
    padding: 0 0.7rem;
    border-radius: 1rem;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    box-shadow: 0 8px 11px 0px rgba(0, 0, 0, 8%);
}

.guarantee-box__img {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1rem;
}

.guarantee-box__caption {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

/* 
==================
    Products
==================
*/
.products {
    background-color: #f7faff;
    padding: 10rem 0;
}

.products-title {
    margin-bottom: 2.5rem;
    position: relative;
}

.products-title::before {
    content: "";
    position: absolute;
    width: 6rem;
    height: 0.3rem;
    background-color: orange;
    right: -7rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 19rem);
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.products-box {
    width: 19rem;
    height: 30rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    border: solid 1px rgb(236, 236, 236);
    cursor: pointer;
    justify-self: center;
    align-self: center;
    position: relative;
    box-shadow: 0 8px 11px 0px rgba(0, 0, 0, 8%);
}

.products-box__link {
    color: #000000;
    text-decoration: none;
}

.products-box::after {
    content: "ارسال رایگان";
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 1.5rem;
    width: 9rem;
    height: 2.3rem;
    background-color: rgb(26, 115, 205);
    position: absolute;
    bottom: 0;
    top: 5rem;
    right: 0;
    margin: auto 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.products-box__img {
    width: 100%;
    transition: 0.2s;
    margin-bottom: 1.5rem;
}

.products-box__img:hover {
    transform: scale(1.1);
}

.products-box__caption {
    margin-bottom: 1rem;
}

.products-box__price {
    display: flex;
    font-family: "Vazir Medium";
}

/* 
==================
    Overlay
==================
*/

.overlay {
    position: fixed;
    inset: 0;
    background-color: #000000;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
}

.overlay--show {
    opacity: 0.5;
    z-index: 100;
}

/* 
==================
    Swiper
==================
*/

.swiper-pagination {
    position: static !important;
    margin-top: 2rem !important;
}

.swiper-pagination-bullet {
    width: 1.8rem !important;
    height: 1.8rem !important;
    border: solid 4px rgb(192, 192, 192) !important;
    background-color: #fff !important;
}

.swiper-pagination-bullet-active {
    border-color: orange !important;
}