/* 
===============
  Base Style
===============
*/

html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Vazir Regular";
}

/* 
==================
  Helper Classes
==================
*/

.hidden {
    display: none;
}