/* 
===============
  Base Style
===============
*/

html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Vazir Regular";
    background-color: #eaeaea;
}

/* 
==================
  Helper Classes
==================
*/

.hidden {
    display: none;
}

/* 
===============
     Header
===============
*/

.header {
    margin-top: 2rem;
}

.header-logo {
    font-size: 4rem;
    font-family: "Vazir Medium";
    color: orange;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-user {
    display: flex;
    gap: 2rem;
    position: relative;
}

.header-user__icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}


.header-user::before {
    content: "0";
    font-size: 1.3rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: orange;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    left: 1.7rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;

}

/* 
==================
   Mobile Menu
==================
*/

.header-toggle {
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    background-color: rgb(142, 142, 142);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    cursor: pointer;
    display: none;
}

.header-toggle__line {
    display: flex;
    width: 3.5rem;
    height: 0.4rem;
    background-color: orange;
    border-radius: 1rem;
    transition: 0.2s;
}

.header-toggle__line::before {
    content: "";
    width: 3.5rem;
    height: 0.4rem;
    background-color: orange;
    position: absolute;
    top: 1.2rem;
    border-radius: 1rem;
    transition: 0.2s;

}

.header-toggle__line::after {
    content: "";
    width: 3.5rem;
    height: 0.4rem;
    background-color: orange;
    position: absolute;
    bottom: 1.2rem;
    border-radius: 1rem;
    transition: 0.2s;

}

.header-toggle--show .header-toggle__line {
    background: transparent;
    transition: 0.1s;
}

.header-toggle--show .header-toggle__line::before {
    transform: translateY(1.1rem) rotate(45deg);
}

.header-toggle--show .header-toggle__line::after {
    transform: translateY(-1.1rem) rotate(-45deg);
}

/* 
==================
    Navigation
==================
*/

.nav {}

.header-list {
    display: flex;
    gap: 8rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.header-list-item {
    position: relative;
    transition: 0.2;
}



.header-list-item::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 0.1rem;
    transform: scaleX(0);
    transition: 0.2s;
    bottom: -4px;

}

.header-list-item:hover.header-list-item::before {
    content: "";
    transform: scaleX(1);
}

.header-list-icon {
    margin-left: 1.5rem;
}


.header-list__link {
    text-decoration: none;
    color: #000000;
    font-size: 1.7rem;
    transition: 0.2s;

}

.header-list__link:hover {
    color: orange;
}


/* 
==================
    Overlay
==================
*/

.overlay {
    position: fixed;
    inset: 0;
    background-color: #000000;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
}

.overlay--show {
    opacity: 0.5;
}